body{
    background: #c0c0aa;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    color: white;
}
button:hover{
    cursor: pointer;
    
}
.wrapper{
    background-color: black;
    border-radius: 2.5em;
    padding: 1em;
    border : #505050 4px solid;
}
.operator{
    background-color: #FF9500;
    
}
.operator:hover{
    background-color: #FFB54D;

}
.especial{
    background-color: #D4D4D2;
    color: black;
}
.especial:hover{
    background-color: #F2F2F2;
}
.numbers{
    background-color: #505050;
}
.numbers:hover{
    background-color: #7F7F7E;

}
.number-0{
    position: relative;
    left: -1px;
    width: 7em;
}
.result{
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 45px;
    font-size: 3em;
}
.socialLinks{
    display: inline;
}
li{
    
    list-style-type: none;
    justify-content: space-between;
}