body{
    background: rgb(255,181,77);
background: linear-gradient(90deg, rgba(255,181,77,1) 0%, rgba(88,88,88,1) 59%, rgba(127,127,126,1) 100%);
}
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    color: white;
}
button:hover{
    cursor: pointer;
    
}
.wrapper{
    background-color: black;
    border-radius: 2.5em;
    padding: 1em;
    border : #505050 4px solid;
}
.operator{
    background-color: #FF9500;
    
}
.operator:hover{
    background-color: #FFB54D;

}
.especial{
    background-color: #D4D4D2;
    color: black;
}
.especial:hover{
    background-color: #F2F2F2;
}
.numbers{
    background-color: #505050;
}
.numbers:hover{
    background-color: #7F7F7E;

}
.number-0{
    position: relative;
    left: -1px;
    width: 7em;
}
.result{
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 45px;
    font-size: 3em;
}
.socialLinks{
    display: inline;
}
li{
    
    list-style-type: none;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .calculator-container {
        flex-direction: column; 
        max-width: 100%;
        align-items: center; 
        margin-top: -5rem;
    }
    .number-0 {
        width: 2/3; 
    }
    .result {
        font-size: 3em;
        text-align: center; 
    }
}
/* @media screen and (max-width: 410px) {
    .calculator-container {
        
        max-width: 100%;
        align-items: center; 
        margin-top: 2rem;
    }
    .result {
        font-size: 2.5em; 
        text-align: center;
    }


} */
